.bg-first {
  background-color: #46c2fb; }

.text-first {
  color: #46c2fb; }

.bg-second {
  background-color: #faac47; }

.text-second {
  color: #faac47; }

.bg-third {
  background-color: #505562; }

.text-third {
  color: #505562; }

.bg-fourth {
  background-color: #737986; }

.text-fourth {
  color: #737986; }

.bg-fifth {
  background-color: #ffffff; }

.text-fifth {
  color: #ffffff; }

.bg-sixth {
  background-color: #f5fcfd; }

.text-sixth {
  color: #f5fcfd; }

.bg-seventh {
  background-color: #7aafff; }

.text-seventh {
  color: #7aafff; }

.bg-eight {
  background-color: #ff859b; }

.text-eight {
  color: #ff859b; }

a:hover {
  text-decoration: none; }

.bold-big-font {
  font-size: 28px;
  font-weight: 700; }

.border-radius {
  border-radius: 10px; }

html {
  overflow-y: scroll;
  scrollbar-color: #faac47 #46c2fb;
  scroll-padding-top: 110px; }

::-webkit-scrollbar {
  width: 10px;
  background: #46c2fb; }

::-webkit-scrollbar-thumb {
  background: #faac47; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5; }

nav {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 10; }
  nav .profile-picture {
    background-image: url("hasanozovali.jpg");
    background-size: cover;
    width: 50px;
    height: 50px; }

article {
  margin-bottom: 50px; }
  article h2 {
    top: 10px;
    left: 30px; }
  article .project-image {
    top: 0px;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.05) 98.35%); }
  article .programs > div {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: auto;
    padding-right: auto; }

header {
  margin-top: 96px;
  background-image: linear-gradient(to left, rgba(70, 194, 251, 0.95) 0%, rgba(250, 172, 71, 0.95) 100%), url("intro.jpg");
  background-size: cover; }
  header .intro-title {
    font-size: 50px; }
  header .intro-subtitle {
    font-size: 35px; }

form input,
form textarea {
  border: 1px solid #737986;
  outline: none; }

.copy-right {
  border-top: 1px;
  border-style: solid;
  border-color: #faac47; }

@media screen and (min-width: 768px) {
  .intro-links {
    z-index: 1; }

  html {
    scroll-padding-top: 0px; }

  nav {
    position: static;
    width: 20%;
    height: 0px; }
    nav .content-nav {
      position: fixed;
      width: 20%; }

  .intro-background,
  .footer-background {
    display: block;
    fill: #ffffff; }

  header.header {
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    header.header > * {
      width: 80%;
      margin: 0 5vh 0 15vh; }

  article .programs {
    position: absolute;
    top: 30px;
    left: 10px;
    visibility: hidden; }
    article .programs > div {
      margin-left: 0.5em;
      margin-right: 0.5em; }
  article img {
    height: 30vw;
    width: 200px;
    object-fit: cover; }
  article .see-project {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    margin: 0 auto;
    padding: 0 auto;
    visibility: hidden; }

  .footer {
    background-color: transparent; }
    .footer .footer-background {
      position: absolute;
      bottom: 0;
      z-index: -1;
      background-color: #46c2fb; } }

/*# sourceMappingURL=style.css.map */
