$first-color: #46c2fb;
$second-color: #faac47;
$third-color: #2a2b2e;
$fourth-color: #737986;
$fifth-color: #fff;
$sixth-color: #f5fcfd;
$seventh-color: lighten($first-color, 15%);
$eight-color: lighten($second-color, 15%);

$colors: (
  first: $first-color,
  second: $second-color,
  third: $third-color,
  fourth: $fourth-color,
  fifth: $fifth-color,
  sixth: $sixth-color,
  seventh: $seventh-color,
  eight: $eight-color,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}

a:hover {
  text-decoration: none;
  color: unset;
}

.bg-hover-seventh:hover {
  background-color: $seventh-color;
}

.bold-big-font {
  font-size: 28px;
  font-weight: 700;
}

.border-radius {
  border-radius: 10px;
}

html {
  overflow-y: scroll;
  scrollbar-color: $second-color $first-color;
  scroll-padding-top: 110px;
}

::-webkit-scrollbar {
  width: 10px;
  background: $first-color;
}

::-webkit-scrollbar-thumb {
  background: $second-color;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

nav {
  width: 100%;
  background-color: $fifth-color;
  position: fixed;
  z-index: 10;

  .profile-picture {
    background-image: url('assets/hasanozovali.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
  }
}

article {
  margin-bottom: 50px;

  h2 {
    top: 10px;
    left: 30px;
  }

  .project-image {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(#fff, 0.65) 0%,
      rgba(#fff, 0.55) 10px,
      rgba(#fff, 0.25) 60px,
      rgba(#fff, 0) 98.35%
    );
  }

  .programs > div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

header {
  margin-top: 96px;
  background-image: linear-gradient(
      to left,
      rgba($first-color, 0.95) 0%,
      rgba($second-color, 0.95) 100%
    ),
    url('assets/intro.jpg');
  background-size: cover;

  .intro-title {
    font-size: 50px;
  }

  .intro-subtitle {
    font-size: 35px;
  }
}

form {
  input,
  textarea {
    border: 1px solid $fourth-color;
    outline: none;
  }
}

.copy-right {
  border-top: 1px;
  border-style: solid;
  border-color: $second-color;
}

@media screen and (min-width: 768px) {
  .intro-links {
    z-index: 1;
  }

  html {
    scroll-padding-top: 0;
  }

  nav {
    position: static;
    width: 20%;
    height: 0;

    .content-nav {
      position: fixed;
      width: 20%;
    }
  }

  .intro-background,
  .footer-background {
    display: block;
    fill: $fifth-color;
  }

  header.header {
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    > * {
      width: 80%;
      margin: 0 5vh 0 15vh;
    }
  }

  article {
    .programs {
      position: absolute;
      top: 50px;
      left: 10px;
      visibility: hidden;

      > div {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }

    img {
      height: 30vw;
      width: 200px;
      object-fit: cover;
    }

    .project-links {
      position: absolute;
      bottom: 20px;
      right: 20px;
      margin: 0 auto;
      visibility: hidden;
    }
  }

  .footer {
    background-color: transparent;

    .footer-background {
      position: absolute;
      bottom: 0;
      z-index: -1;
      background-color: $first-color;
    }
  }
}
